/*______________________________________________________ PRINCIPAL ______________________________________________________________________*/

body {padding-top: 102px; background-color: #ebebeb;  margin: 0; display: flex; flex-direction: column; min-height: 100vh;}

.fundo {background-color: #b81414; position: fixed; width: 100%; top:0; height: 100px; text-align: center; z-index: 2;}

.logo {max-width: 100px;}

.inputmenu {margin-top: 15px; width: 100%; margin-bottom: 10px; padding: 6px;}

.op {font-size: 12px; text-decoration:none; color: #ffffff;}

.op:hover {color: grey;}

.carrinho {width: 50px; margin-top:65px; text-align: left}

.quanticar {position: absolute; margin-top: 22px; margin-left: -4.5%; font-size: 15px;}

select {background-color: transparent; border: none; color: #ffffff; font-size: 12px;}

select:hover {color: grey;}

.category {margin-left: 15px; color: white;}

.selected {color: grey; }
  
option {font-size: 15px;}

.menuicon {display: none;}

.sidenav { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; right: 0; background-color: #b81414; overflow-x: hidden; padding-top: 40px; transition: 0.5s; border-left: 1px solid white; display: none; text-align: left;}

.sidenav a {text-decoration: none; font-size: 15px; color: white; display: block; transition: 0.2s;}

.sidenav a:hover {color: grey;}

.sidenav .closebtn {position: absolute; top: 0; right: 10px; font-size: 36px;}

.slideshow-container {margin-bottom:30px;}

.propaganda {max-width: 200px; margin-right: -20px; margin-bottom: -1px;}

.hidden {display: none;}

/*______________________________________________________ PRODUTOS ______________________________________________________________________*/

#produtos {display: flex; flex-wrap: wrap; margin-left: 10%; margin-right: 10%;}

#produtos a {text-decoration:none; color: black;}

.produto:hover {background-color: #ffcccc;}

.produto {flex: 0 0 calc(20% - 20px); margin: 10px; background-color: #ffffff; padding: 5px; box-sizing: border-box; border: 2px solid #b81414; border-radius: 5px; width: 100%;}

.imgproduto {width: 100%;}

.nomeproduto {margin-bottom: 0px;}

.loja {font-size: 12px; color: grey}  

.precoproduto {margin-top: 10px; color: #b81414;}

/*______________________________________________________ CARRINHO ______________________________________________________________________*/

ul {list-style-type: none; margin: 0; padding: 0}

#carrinhoContainer {margin-top: 50px}

.buttonremover {font-size: 12px; background-color: #b81414; color: white; padding: 5px 5px; border: none; border-radius: 4px; margin-right: 2px; position: relative; float: right; margin-top: 0; z-index: 1;}

.buttonremover:hover {background-color: #b83030;}

.carrinhoitem {background-color: #ffffff; padding: 5px; box-sizing: border-box; border: 2px solid #b81414; border-radius: 5px; margin-bottom: 40px; margin-left: 10%; margin-right: 10%; margin-top: 50px}

.imgcar {max-width: 10%}

.inforcar {font-size: 15px}

.bordercar {display: inline-block; height: 90px; border: 1px solid #b81414; margin-bottom: -37px; margin-left: 5px; margin-right: 5px}

.precototal {color: #b81414; font-weight: 500; font-size: 15px;}

.precofinal {background-color: #ffffff; height: 300px; box-sizing: border-box; border: 2px solid #b81414; border-radius: 5px; margin-bottom: 40px; color: #b81414; font-weight: 500; max-width: 80%; margin-left: 10%; padding: 10px}

.primeirocar {background-color: #fbe5e5; width: 100%; color: #fbe5e5; margin: 0}

.segundocar {background-color: #e97f7f; width: 100%; color: #e97f7f; margin: 0}

.terceirocar {background-color: #da2a2a; width: 100%; color: #ba2a2a; margin: 0}

.textocarrinho {background-color: #b81414; color: white; text-align: center; width: 100%; margin:0; padding: 10px}

.finalizar {font-size: 20px; background-color: #4CAF50; color: white; padding: 5px 10px; border: none; border-radius: 4px; margin-top: 10px}

.finalizar:hover {background-color: #45a049;}

.pfcar {margin-top: 15px; margin-left: 5px;}

.precofrete {display: none}

.hrfrete {border: 2px solid black; margin-left: -5px}

.hrfreteum {border: 2px solid black; }

#campofinal {width: 20%; padding: 8px; box-sizing: border-box; font-size: 15px}

.botaocalcularum {background-color: #4CAF50; color: white; padding: 5px 10px; border: none; border-radius: 4px; font-size: 15px}

.botaocalcularum:hover {background-color: #45a049;}

.hrsete {display: none}

.hrseteum {display: none}

/*______________________________________________________ FOOTER ______________________________________________________________________*/

#corpo {flex: 1}

#footer {background-color: #b81414; color: white; text-align: center; padding: 15px; margin-top: 79px; position: relative}

.fttitulo {font-weight: 1000}

.fttexto {font-weight: 100}

.fttexto a{color: white; font-weight: 500}

.logoft {max-width: 10%; margin-left: -50%; position: absolute}

.copy {background-color: #800000; width: 100%; color: #ffffff; text-align: center; padding-top: 15px;}
  
/*______________________________________________________ 700PX ______________________________________________________________________*/

@media (max-width: 700px){

body {padding-top: 72px;}
  
.logo {max-width: 70px;}

.inputmenu {margin-top: 15px; margin-bottom: 0;}

.fundo {height: 70px;}

.op {display: none;}

.carrinho {width: 50px; margin-top: 5px;}

.quanticar{margin-top: -8px; margin-left: -6.3%}

.menuicon {display: block; width: 40px;}

.sidenav {display: block}

.propaganda {display: none;}

select {display: none;}

.produto {flex: 0 0 calc(33% - 20px);}

.carrinhoitem {background-color: #ffffff; padding: 10px; box-sizing: border-box; border: 2px solid #b81414; border-radius: 5px; margin-bottom: 40px; margin-left: 10%; margin-right: 10%; margin-top: 50px; height: 300px;}

.bordercar {display: none}

.imgcar {max-width: 50px; float: left; box-sizing: border-box; border: 2px solid #b81414; border-radius: 5px; margin-right: 10px}

.inforcar {font-size: 15px;}

.hrsete {display: block}

.hrseteum {display: block;}

.nomeespecial {font-size: 25px}

.carrinhoitem {background-color: #ffffff; padding: 5px; box-sizing: border-box; border: 2px solid #b81414; border-radius: 5px; margin-bottom: 40px; margin-left: 20px; margin-right: 20px; margin-top: 50px}

.precofinal {background-color: #ffffff; height: 300px; box-sizing: border-box; border: 2px solid #b81414; border-radius: 5px; margin-bottom: 40px; color: #b81414; font-weight: 500; max-width: 90%; margin-left: 5%; padding: 10px}
}

/*______________________________________________________ 550PX ______________________________________________________________________*/

@media (max-width: 550px){
  
.produto {flex: 0 0 calc(50% - 20px);}
  
#produtos {margin-left: 10px; margin-right: 10px;}

.nomeespecial {font-size: 20px}
}

/*______________________________________________________ SLIDES ______________________________________________________________________*/

@keyframes fade{ from {opacity: 0;} to {opacity: 1;}}

.slide {animation-name: fade; animation-duration: 1s;} 

.slideshow-container {background-color: #b81415;}
