/*______________________________________________________ PRINCIPAL ______________________________________________________________________*/

body {background-color: #ebebeb;}

.fundo {background-color: #b81414; width: 100%; top:0; height: 100px; text-align: center;}

.logo {max-width: 100px;}

.voltar {display: none;}

.inputmenu {margin-top: 15px; width: 100%; margin-bottom: 10px; padding: 6px;}

.op {font-size: 12px; text-decoration:none; color: #ffffff;}

.op:hover {color: grey;}

.carrinho {width: 50px; margin-top:65px; margin-left: 0px; text-align: left}

.quanticar {position: absolute; margin-top: 22px; margin-left: -5%; font-size: 15px;}

select {background-color: transparent; border: none; color: #ffffff; font-size: 12px;}

select:hover {color: grey;}
 
option {font-size: 15px;}

.menuicon {display: none;}

.sidenav { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; right: 0; background-color: #b81414; overflow-x: hidden; padding-top: 40px; transition: 0.5s; border-left: 1px solid white; display: none;}

.sidenav a {padding: 0px 0px 0px 20px; text-decoration: none; font-size: 15px; color: white; display: block; transition: 0.2s; text-align: left;}

.sidenav a:hover {color: grey;}

.sidenav .closebtn {position: absolute; top: 0; right: 10px; font-size: 36px;}

#produtos {display: flex; flex-wrap: wrap; margin-left: 10%; margin-right: 10%; margin-top: 30px;}

.produto {flex: 0 0 calc(20% - 20px); margin: 10px; background-color: #ffffff; padding: 5px; box-sizing: border-box; border: 2px solid #b81414; border-radius: 5px; width: 100%;}

.imgproduto {width: 100%;}

.nomeproduto {margin-bottom: 10px;}

.precoproduto {margin: 0; color: #b81414;}

#pino {margin-left: 10%; width: 80%; margin-top: 50px; background-color: #ffffff; padding: 1%; border: 2px solid #b81414; border-radius: 5px; height: 100%}

.nomeprodutopino {margin-top: 10px;}

.precoprodutopino {color: #b81414; margin-top: 10px;}

.imagenspino {float: left; width: 40%; text-align: center; margin-top: 10px; max-width: 430px;}

.imgpino {width: 100%;}

.thumbnail {width: 17%; margin-right: 2px; margin-top: 5px; cursor: pointer; border: 2px solid #b81414; border-radius: 5px;}

.inforproduto {border-left: 2px solid #b81414; margin-left: 41%; padding-right: 10px; padding-left: 4%;}

.avaliacoes {font-size: 12px;}

.loja {margin-bottom: 20px; font-size: 12px;color: grey;}

.fretenome {margin-bottom: 0px;}

#campofrete {width: 50%}

.butaocalcular {margin-bottom: 0px;}

#frete {color: #b81414;}

.escolha {margin-bottom:0px;}

#colorForm {font-size: 13px;}

.cor {margin-bottom:0px;}

.quant {margin-bottom:0px; font-size: 15px;}

.inputquant {width:50px;}

.comprar {font-size: 20px; margin-bottom: 20px; height: 50px;}

.addcar {font-size: 20px; height: 50px;}

.hidden {display: none;}

 
/*______________________________________________________ 700PX ______________________________________________________________________*/


@media (max-width: 700px){
 
.voltar {display: block; width: 40px;}

.logo {display: none;}

.inputmenu {margin-top: 15px; margin-bottom: 0;}

.fundo {height: 70px;}

.op {display: none;}

.carrinho {width: 50px; margin-top: 5px;}

.quanticar{margin-top: -8px; margin-left: -6.3%}

.menuicon {display: block; width: 40px;}

.sidenav {display: block}

.propaganda {display: none;}

select {display: none;}

.produto {flex: 0 0 calc(33% - 20px);}

.imagenspino {float: none; width: 100%;}

.inforproduto {border-left: none; margin-left: 5px; margin-right: 5px;}
}

/*______________________________________________________ 550PX ______________________________________________________________________*/

@media (max-width: 550px){
 
.produto {flex: 0 0 calc(50% - 20px);}
 
#produtos {margin-left: 10px; margin-right: 10px;}
 
#pino {margin-left: 5%; margin-right: 5%; width: 90%}
}
